  <% include  partials/header %>

  <style media="screen">

  </style>

  <div class="row">
  	<div class="col-sm-6 col-sm-offset-3">
  		<div class="card">
        <div class="card-header card-header-tabs" data-background-color="green">
					<div class="nav-tabs-navigation">
						<div class="nav-tabs-wrapper">
							<span class="nav-tabs-title"><h1 class="card-title">Edit ISP User</h1></span>
							<ul class="nav nav-tabs" data-tabs="tabs">

							</ul>
						</div>
					</div>
				</div>
  			<div class="card-content">
  				<div id="result"></div>
  				<form method="post"  id="form_admin" enctype="multipart/form-data">

								<div class="form-group label-floating">
									<label class="control-label">Name</label>
									<input type="text" class="form-control" id="full_name" required value = '<%= IndivUser[0].name%>'  name="full_name">
								</div>

									<div class="form-group  label-floating">
										<label class="control-label">User Name</label>
										<input type="text" class="form-control" id="user_name" required  value = '<%= IndivUser[0].username%>' name="user_name">
									</div>

									<div class="form-group label-floating">
										<label class="control-label">E-mail</label>
										<input type="email" class="form-control" id="email" required  name="email" value = '<%= IndivUser[0].email%>'>
									</div>

									<div class="form-group label-floating">
										<label class="control-label">Phone Number</label>
										<input type="text" class="form-control" id="phone" required  name="phone" number="true" value = '<%= IndivUser[0].phone%>' minLength="11">
									</div>

									<div class="form-group label-floating">
										<label class="control-label">Address</label>
										<input type="text" class="form-control" id="address" required  name="address" value = '<%= IndivUser[0].address%>'>
									</div>
									<div class="form-group label-floating">
										<label class="control-label">Designation</label>
										<input type="text" class="form-control" id="designation" required  name="designation" value = '<%= IndivUser[0].designation%>'>
									</div>

                  <div class="form-group label-floating">
                    <label class="control-label">Select Role</label>
                    <select name="id_role" id='id_role' class="form-control" required>
                      <option disabled="" selected=""></option>
                      <% Roles.forEach(function(role) { %>
                        <% if( IndivUser[0].id_role  ==  role.id_role){ %>
                          <option selected value="<%= role.id_role %>"><%= role.role_name %></option>
                        <% }else{ %>
                            <option value="<%= role.id_role %>"><%= role.role_name %></option>
                          <%   } %>
                            <% }); %>
                          </select>
                        </div>

									<div class="form-group label-floating">
										<label class="control-label">Password</label>
								 		<input type="password" class="form-control" id="pwd"   name="pwd" minLength="6">
									</div>

									<div class="form-group label-floating">
										<label class="control-label">Confirm Password</label>
									 <input type="password" class="form-control" id="confirm_pwd"   name="confirm_pwd"  equalTo="#pwd">
									</div>
                  <input type="hidden" name = "id_user" id="id_user" value = '<%= IndivUser[0].id%>'>
                  <input type="hidden" name = "prv_password" id="prv_password" value = '<%= IndivUser[0].password%>'>


  					<button type="submit" name="submit" class="btn btn-fill btn-success" value="submit">Submit</button>
  					<a href="/isp/view_isp_user/?id_isp=<%= IndivUser[0].id_isp%>" class="btn btn-fill btn-success">Back</a>

  				</form>
  			</div><!-- end of col-md-6 -->
  		</div><!-- end of class row  -->
  	</div>
  </div>

<% include  partials/footer %>

  <script type="text/javascript">

  $('#phone').mask('ASY00000000', {'translation': {
    A: {pattern: /[0]/},
    S: {pattern: /[1]/},
    Y: {pattern: /[5-9]/}
  }
});

  $(document).ready(function(){

  	$("#form_admin").validate({

  		submitHandler: function (form) {
  			var reqData = $("#form_admin").serialize();

  			$.ajax({
  				type:"POST",
  				contentType: "application/x-www-form-urlencoded",
  				dataType:"json",
  				data: reqData,
  				url: "/isp/edit_isp_user_now",

          success:function(response) {
            // console.log(response);
            if(response.status === 'success') {
              showNotification(2, response.msg);
            } else if (response.status === 'warning') {
              showNotification(3, response.msg);
            }else if (response.status === 'failed') {
              showNotification(4, response.msg);
            }
          },
          error: function (result) {
            showNotification(3,"Error " + JSON.stringify(result));
          }
        });
  		}
  	});
  });

  </script>
