  <% include  partials/header %>

  <style media="screen">

    table.dataTable > thead > tr > th,
    table.dataTable > tbody > tr > th,
    table.dataTable > tfoot > tr > th,
    table.dataTable > thead > tr > td,
    table.dataTable > tbody > tr > td,
    table.dataTable > tfoot > tr > td {
    text-align:  center;
    }
  </style>

  <div class="row">
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header card-header-tabs" data-background-color="green">
					<div class="nav-tabs-navigation">
						<div class="nav-tabs-wrapper">
							<span class="nav-tabs-title"><h1 class="card-title">ISP Role For <%=IndivIsp[0].isp_name%></h1></span>
							<ul class="nav nav-tabs" data-tabs="tabs">
                <li  style="float:right;" >
                  <a class="btn btn-success btn-round" href="/isp">
                    <i class="material-icons">exit_to_app</i>BACK&nbsp;
                    <div class="ripple-container"></div></a>
                  </a>
                </li>
                <li  style="float:right;" >
									<a class="btn btn-success btn-round" href="/isp/add_isp_user_role_frm/?id_isp=<%=IndivIsp[0].id_isp%>">
										<i class="material-icons">add</i>ADD&nbsp;
										<div class="ripple-container"></div></a>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

        <div class="card-content">
          <div class="toolbar"><!--        Here you can write extra buttons/actions for the toolbar              --></div>
          <div class="material-datatables table-responsive">
            <table id="data_grid" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Desc</th>
                  <th>Id ISP</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% items.forEach((item) => { %>
                    <tr>
                      <td><%= item.role_name %></td>
                      <td><%= item.role_desc %></td>
                      <td><%= item.id_isp %></td>
                      <td><%= item.id_role %></td>
                    </tr>
                <% }); %>
              </tbody>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Desc</th>
                  <th>Id ISP</th>
                  <th>Action</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include  partials/footer %>


<script type="text/javascript">
	var oTable = "";
  $(document).ready(function() {

    oTable = $('#data_grid').DataTable({
  		// data:[],
  		columns: [
  			{ "data": "role_name" },
  			{ "data": "role_desc" },
        { "data": "id_isp" },
        { "data": "id_role" }
  		],
      rowCallback: function (row, data) {
        $('td:last', row).html('');
        tmp = $('<a class="btn btn-simple btn-danger btn-icon "><i class="material-icons">touch_app</i></a>').attr('href','/isp/grant_permission'+'/'+data.id_role+'/'+data.id_isp);
        $('td:last', row).append(tmp);
        var tmp = $('<a id="edit_btn" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">create</i></a>').attr('href','/isp/edit_role_frm'+'/'+data.id_role);
        $('td:last', row).append(tmp);
        var tmp = $('<a id="edit_btn" class="btn btn-simple btn-danger btn-icon delete_item"><i class="material-icons">close</i></a>').attr({'id_role': data.id_role,'id_isp': data.id_isp});
        $('td:last', row).append(tmp);
      },
		columnDefs:[
			{
				"targets": [ 2 ],
				"visible": false,
				"searchable": false
			}
		],
  		drawCallback: function( settings ) {

      },
  		filter: true,
  		info: true,
  		ordering: true,
  		processing: true,
  		retrieve: true
  	});

    $("#data_grid").on('click', '.edit', function(){
      var id_iig_user = $(this).attr('id_iig_user');
      console.log("User edit clicked " + id_iig_user);
      document.location.href="user/edit_user_frm/?id_iig_user=" + id_iig_user;
    });

    $("#data_grid").on('click', '.delete_item', function(){
      var id_role = $(this).attr('id_role');
      var id_isp = $(this).attr('id_isp');
      swal({
        type:'warning',
        title: 'Are you sure to Delete Role?',
        text: 'You will not be able to recover the data ',
        showCancelButton: true,
        confirmButtonColor: '#049F0C',
        cancelButtonColor:'#ff0000',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, keep it'
      }).then(function (res) {
        $.ajax({
          type:"POST",
          contentType: "application/x-www-form-urlencoded",
          dataType:"json",
          data:{'id_isp' : id_isp,'id_role' : id_role},
          url: '/isp/delete_role_now',

          success:function(response) {
            console.log("Response data " + response.data);

            if(response.status === 'success') {
              refresh_datatable(response.data, 'success', response.msg);
              showNotification(2,response.msg);
            } else {
              showNotification(4,response.msg);
            }
          }
        });
      });
      console.log(' id_role  = ' + id_role );
    });

  });
</script>
